.td-hover :hover {
    cursor: pointer;
    background-color: rgb(132, 134, 136);
}

 td {
    margin: 0;
    padding: 0;
}

.dot {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    /* border-style: solid; */
}

.dotTiny {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border-style: solid;
}



.banker {
    background-color: red;
    /* border-color: red; */

}

.player {
    background-color: blue;

}

.tie {
    background-color: green;
}

.bankerHollow {
    background-color: white;
    border-color: red;
}

.playerHollow {
    background-color: white;
    border-color: blue;
}

.tieHollow {
    background-color: white;
    border-color: green;
}

.bankerCompact {
    background-color: red;
}

.playerCompact {
    background-color: blue;
}

.center {
    color: white;
    text-align: center;
    display: flex;
}

.point {
    margin: 65px;
    text-align: center;
}

.pointTiny {
    margin: 0;
}